<div class="banner">
  <div class="container">
    <h1>Mister Cocktail, surprise your guests with originals cocktails!</h1>
    <p>Create your own coktails and share it to the community!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="cards">
  <% @cocktails.each do |cocktail|%>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo %>)">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>
