<div class="banner">
  <div class="container">
    <h1>Mister Cocktail, surprise your guests with originals cocktails!</h1>
    <p>Create your own coktails and share it to the community!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<%= cl_image_tag("lfi6frxpjzjbvup6oh5l",
      width: 400, height: 300, crop: :fill) %>
<div class="cards">
  <% @cocktails.each do |cocktail|%>
    <div class="card" style="width: 18rem;">
    <img src="<%= cocktail.photo %>" class="card-img-top" alt="coktail image">
    <div class="card-body">
      <h5 class="card-title"><strong><%= cocktail.name %></strong></h5>
      <%= link_to "More details", cocktail_path(cocktail), class: "btn btn-warning" %>
    </div>
  </div>
  <% end %>
</div>
