<div class="container container-card">
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Create your cocktail", class: "btn btn-primary" %>
  <% end %>
</div>
